<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Evaluate News Article</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <h1>Travel Planner</h1>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    Please choose the city you are travelling to:
                    <input class="travel-city" id="city" type="text" name="city" placeholder="City" value="Cerro Azul">
                    <p>Please choose the dates you are travelling:</p>
                    <div class="travel-dates">
                        <label for="trip-start">Start date:</label>
                        <input class="trip-start" type="date" id="trip-start" name="trip-start">
                    </div>
                    <div class="travel-dates">
                        <label for="trip-end">End date:</label>
                        <input class="trip-end" type="date" id="trip-end" name="trip-end">
                    </div>
                    <input class="form-submit-btn" type="submit" name="" value="submit" onclick="return Client.testFunction(event)" onsubmit="return Client.testFunction(event)">
                </form>
            <section>

            <section id="mytrips">
                <strong>My trips:</strong>
                <div class="mytrip-container">
                    <img class="mytrip-image" id="mytrip-image" src="" alt="">
                    <span class="mytrip-image-details" id="mytrip-image-description"></span>
                    <span class="mytrip-info" id="mytrip-info"></span>
                    <div class="mytrip-options">
                        <input type="submit" value="Print trip" onclick="Client.printHTML('mytrips')" onsubmit="Client.printHTML('mytrips')">
                    </div>
                    <div class="weather-container" id="weather-container">
                        <p class="weather-info" id="weather-info"></p>
                        <span id="weather-details-container"></span>
                    </div>
                </div>
            </section>

        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->
        <!-- <script src="print.js"></script> -->
    </body>
</html>