<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <title>Travel App</title>
    </head>

    <body onbeforeunload="return Client.saveSession()">

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <h1>Travel Planner</h1>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    Please choose trip name (for new trip just write a new name):
                    <input class="" id="trip-name" type="text" name="trip-name" placeholder="Choose name i.e europe trip" value="Europe trip">
                    Please choose the city you are travelling to:
                    <input class="travel-city" id="city" type="text" name="city" placeholder="City" value="London">
                    <p>Please choose the dates you are travelling:</p>
                    <div class="travel-dates">
                        <label for="trip-start">Start date:</label>
                        <input class="trip-start" type="date" id="trip-start" name="trip-start">
                    </div>
                    <div class="travel-dates">
                        <label for="trip-end">End date:</label>
                        <input class="trip-end" type="date" id="trip-end" name="trip-end">
                    </div>
                    <input class="form-submit-btn" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    <p id="loadingMsg"></p>
                </form>
            <section>

            <section id="mytrips">
                <strong>My trips:</strong>
            </section>

        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>