/*===============================================
Page layouts
===============================================*/

@media (max-width: 600px){  /* Small screens */
    .destination-container {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "ttl"
        "img"
        "opt"
        "wea";
        background-color: lightblue;
        margin: 10px;
    }
}

@media (min-width: 601px){ /* Medium-Large Screens */
    .destination-container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "img ttl"
        "img opt"
        "idt opt"
        "det det"
        "wea wea";
        background-color: lightblue;
        margin: 10px;
    }
}

/*===============================================
Page layouts
===============================================*/

.trip-container{
    background-color: lightgreen;
    margin: 10px 0px;
    padding: 10px 0px;
}

.destination-image{
    grid-area: img;
    width: 100%;
    max-height: 300px;
    padding: 5px;
    margin: 5px;
}

.destination-image-details{
    grid-area: idt;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.destination-info{
    grid-area: ttl;
    margin: 5px;
    display: block;
}

.destination-info input{
    width: 60%;
}

.destination-options{
    grid-area: opt;
    margin: 5px;
    display: block;
}

input .destination-options{
    width: 50%;
}

.destination-details-container{
    grid-area: det;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.destination-details-container input{
    display: none;
    width: 45%;
}

.hotel-info-details {
    width: 100%;
    input {
        display: flex;
        width: 49%;
    }
}

.hotel-info-details textarea {
    display: flex;
    width: 85%;
}

.flight-info, .hotel-info {
    display: block;
    margin: 5px;
    width: 48%;
}

.flight-info-details, .hotel-info-details {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.flight-info span, .hotel-info span{
    margin: 0px;
}

.destination-icon{
    margin: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
}

.weather-container{
    grid-area: wea;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    background-color: rgb(18, 187, 187);
}

.weather-info{
    display: block;
    width: 100%
}

.weather-day-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}

.weather-image{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.weather-details{
    display: inline-block;
    font-size: 70%;
}

.travel-dates {
    display: inline-flex;
    width: 250px;
    margin: 15px 0px;
}

.travel-city:hover, .trip-start:hover, .trip-end:hover {
    background-color: whitesmoke;
}

.destination-container.endDate-passed, .weather-container.endDate-passed {
    background-color: gray;
}